{
	listen_addr: ":5687"
	session_timeout: "2m"
	
	stats_listen_addr: ":9030"
	prof_listen_addr: ":9031"
	
	metrics_logfile: "metrics.log"
	stats_output_interval: "2m"
	
	flusher: {
		stats_flush_interval: "5s"
	
		//0: flush every entry comes
		//1: flush between interval
		log_flush_type: 1
		log_flush_interval: "1s"
	}
	
	mongodb: {
		addr: "127.0.0.1:27017"
		conn_timeout: "5s"
		sync_timeout: "5s"
		operation_timeout: "5s"
	}
	
	stats: {
		stats_count_interval: "1h"
		elapsed_count_interval: "5m"
		
		// if uri matches the path prefix, use the prefix instead of the whole path
		elapsed_uri_path_prefix: [
			"/goods/"
		]
	}

}
